<div class=""><div class="aHl"></div><div id=":se" tabindex="-1"></div><div id=":s3" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc3MTk2NTgzMzQ5Njc0NDQ1NiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc3MTk3Nzg3OTQ1NTM0Mjg4MCIsbnVsbCxbXV0."><div id=":s2" class="a3s aiL msg4470569233870841765"><u></u>
    <div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
        
        <span class="m_4470569233870841765mcnPreviewText" style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">Happy Birthday!</span>
        
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_4470569233870841765bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
                <tbody><tr>
                    <td align="center" valign="top" id="m_4470569233870841765bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4470569233870841765templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
                                <td valign="top" id="m_4470569233870841765templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4470569233870841765templateHeader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:0px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <img align="center" alt="" src="https://ci3.googleusercontent.com/proxy/V_Px15Rwds8T0-f7tNc_AydePnCLSDwePXnSkYS8aEWIb43-LldvB9ZYhW1v68SmVlgfS62fJsbokD7EkArWG6JfC6oQ1BTFm3Ox8BOLun36WfegP4gAPKHZVdc-FLxl5kHPWLl3-7TMju74GsWBPAaRYx6dMA=s0-d-e1-ft#https://mcusercontent.com/7dc5232d31b1718a8cc97e522/images/b61bfb77-60a5-ac6a-fa50-9e61dac979b3.png" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_4470569233870841765mcnImage CToWUd" data-bit="iit">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4470569233870841765mcnDividerBlock" style="min-width:100%;background-color:#ffffff;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:10px 18px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #ffffff;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4470569233870841765templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4470569233870841765mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4470569233870841765mcnTextContent" style="padding:0px 18px 9px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;word-break:break-word;color:#202020;font-size:16px;line-height:150%;text-align:left">
                        
                            <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"><span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">{{ RECIPIENT_FIRST_NAME }}!</span></h1>

<p style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;margin:10px 0;padding:0;color:#202020;font-size:16px;line-height:150%;text-align:left">{{ COMPANY_NAME }} is sending you a very special Blueboard Reward for&nbsp;<font color="#28b7d5"><strong>Your Birthday!&nbsp;</strong></font>We are honored to have you as part of our team. Wishing you the best on your birthday and everything good in the year ahead.</p>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:50px;background-color:#f65673">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:25px">
                                <a href="https://redeem.blueboard.com/" class="m_4470569233870841765mcnButton" title="CHOOSE YOUR EXPERIENCE" style="font-weight:bold;letter-spacing:1px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block">CHOOSE YOUR EXPERIENCE</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4470569233870841765mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4470569233870841765mcnTextContent" style="padding:0px 18px 9px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;word-break:break-word;color:#202020;font-size:16px;line-height:150%;text-align:left">
                        
                            <p style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;margin:10px 0;padding:0;color:#202020;font-size:16px;line-height:150%;text-align:left">Please enjoy this <font color="#28b7d5"><strong>Blueboard {{ AWARD_LEVEL }} reward</strong></font><strong style="color:#28b7d5">&nbsp;</strong> in appreciation of you and all the magic you bring to our team. Don't forget to share your photos after you complete your experience!</p>

                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table><span class="im"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4470569233870841765mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:18px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4470569233870841765mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4470569233870841765mcnTextContent" style="padding:0px 18px 9px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;word-break:break-word;color:#202020;font-size:16px;line-height:150%;text-align:left">
                        
                            With this reward, you can choose your desired experience. We offer in-home, out and about, outdoor, family-friendly, adventure experiences - you name it! There's something for everyone.<br>
<br>
You worked long hours, made sacrifices, and dedicated tons of mental energy to&nbsp;make your company that much better. Now, it’s time to reap the benefits!
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4470569233870841765mcnDividerBlock" style="min-width:100%;background-color:#ffffff;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:18px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #ffffff;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding:9px">
<table border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td valign="top" style="padding:0 9px">
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightImageContentContainer" width="132" style="border-collapse:collapse">
                <tbody><tr>
                    <td align="center" valign="top">
                        <img alt="" src="https://ci6.googleusercontent.com/proxy/oAfN-OtqpgkkNgYLBXrFeXH29-4BFywjwHlJlPtnPr01ox_INNLfJqVA3HlSAP3mA-vITxp4w9B6_eUrNFKj5rwaeU8IY-iF6X-USfiY9tgILUUTxq5C0v_Z_nZ1XfHKolI29qLsrcrhcvCwECFrUwTyfpssUg=s0-d-e1-ft#https://mcusercontent.com/7dc5232d31b1718a8cc97e522/images/d4a1bdc6-d892-2c5f-3eaf-b5767bd1dd85.png" width="70" style="max-width:70px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_4470569233870841765mcnImage CToWUd" data-bit="iit">
                    </td>
                </tr>
            </tbody></table>
            <table class="m_4470569233870841765mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" class="m_4470569233870841765mcnTextContent" style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;text-align:left;word-break:break-word;color:#202020;font-size:16px;line-height:150%">
                        <div style="text-align:left"><span style="color:#28b7d5"><span style="font-size:18px"><strong>Browse</strong></span></span><br>
Start by creating your account. Browse our hand-curated experience menu and choose the one that's the most exciting to you. Redeem by clicking "Connect with Concierge."</div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding:9px">
<table border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td valign="top" style="padding:0 9px">
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightImageContentContainer" width="132" style="border-collapse:collapse">
                <tbody><tr>
                    <td align="center" valign="top">
                        <img alt="" src="https://ci4.googleusercontent.com/proxy/3--W6mRSxoyIHJbwFZsagkKtwTL_mJsgmq4jN8AWmOVA8cUMJ4D641r4sjJNLkH8rnhca1k5z0F8ItnjLKNXquplAonWoGcty7sOgdrHAhyWai_dMbmFVFc_-gkY8xHaeNIyfzAa9GH6xqxiA5qv5YHvEnUJig=s0-d-e1-ft#https://mcusercontent.com/7dc5232d31b1718a8cc97e522/images/b7e9cb96-3227-7364-dfa8-ebdac5ae23bd.png" width="70" style="max-width:70px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_4470569233870841765mcnImage CToWUd" data-bit="iit">              
                    </td>
                </tr>
            </tbody></table>
            <table class="m_4470569233870841765mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" class="m_4470569233870841765mcnTextContent" style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;text-align:left;word-break:break-word;color:#202020;font-size:16px;line-height:150%">
                        <div style="text-align:left"><span style="color:#28b7d5"><span style="font-size:18px"><strong>Select</strong></span></span><br>
Provide your preferred dates and preferences. A member of our Concierge team will then reach out to review the details. You're not locked into an experience until we review and confirm together.</div>

                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding:9px">
<table border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse">
    <tbody><tr>
        <td valign="top" style="padding:0 9px">
            <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_4470569233870841765mcnCaptionRightImageContentContainer" width="132" style="border-collapse:collapse">
                <tbody><tr>
                    <td align="center" valign="top">
                        <img alt="" src="https://ci5.googleusercontent.com/proxy/0E8bolSGrKgtMmdAISEjueDYWZKw1p2zD65XnzrGww7AlVeFNCeFf9mAXjXKRTRYI5AKhztk4pov-0X3QrLPFBIWWsZC9eM3Kx7MaIQxCYkckLEAFYV35oq_ox9aY6FaCE4p6iW0KPIOXdRBmzjT1BzwI7-gMg=s0-d-e1-ft#https://mcusercontent.com/7dc5232d31b1718a8cc97e522/images/088d4707-6a28-69e2-7397-e5a2586b7c35.png" width="70" style="max-width:70px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_4470569233870841765mcnImage CToWUd" data-bit="iit">                 
                    </td>
                </tr>
            </tbody></table>
            <table class="m_4470569233870841765mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396" style="border-collapse:collapse">
                <tbody><tr>
                    <td valign="top" class="m_4470569233870841765mcnTextContent" style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;text-align:left;word-break:break-word;color:#202020;font-size:16px;line-height:150%">
                        <div style="text-align:left"><span style="color:#28b7d5"><span style="font-size:18px"><strong>Go</strong></span></span><br>
Get ready to have a stellar time making new memories, with none of the stress of handling logistics! Enjoy every moment<a href="https://blueboardingcontest.blueboard.com/" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://blueboardingcontest.blueboard.com/&amp;source=gmail&amp;ust=1689976194792000&amp;usg=AOvVaw3IW384NzNCWbPPRsya1z9T"><span style="color:#f65673"> #blueboarding.</span></a><span style="color:#f65673"> </span>You’ve earned it!</div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4470569233870841765mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4470569233870841765mcnTextContent" style="padding:0px 18px 9px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;word-break:break-word;color:#202020;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center">Have questions about the booking process?&nbsp;<a href="https://account.blueboard.com/" style="color:#007c89;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://account.blueboard.com/&amp;source=gmail&amp;ust=1689976194792000&amp;usg=AOvVaw0pAwWNqCM3-bndf7e77K1i"><span style="color:#f65673">Log in</span></a>&nbsp;and chat with us directly on our website!</div>
                        </td>
                    </tr>
                </tbody></table>	
            </td>
        </tr>
    </tbody>
</table></span></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4470569233870841765templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4470569233870841765mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:10px 18px 25px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4470569233870841765mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4470569233870841765mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <div style="text-align:center">Blueboard is the first enterprise rewards and recognition platform powered by hand-curated experiences. From helping people connect with family and friends, to escaping the everyday, Blueboard employee rewards are the best way to inspire and care for your top people.<br>
<br>
<a href="https://goo.gl/maps/niftHcrcwL2297e68" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://goo.gl/maps/niftHcrcwL2297e68&amp;source=gmail&amp;ust=1689976194792000&amp;usg=AOvVaw1lblE2HHvtIjalTAB2NXDp"><span style="color:#f65673">Blueboard, 9740 Scranton Rd. Suite 300, San Diego, CA 92121</span></a></div>

                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                        </tbody></table>          
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
</div></div></div><div id=":si" class="ii gt" style="display:none"><div id=":sj" class="a3s aiL "></div></div><div class="hi"></div></div>