<div class=""><div class="aHl"></div><div id=":se" tabindex="-1"></div><div id=":sl" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc3MTk3ODQ4MTIzMDExNTQ1NiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc3MTk3ODQ4MTIzMDExNTQ1NiIsbnVsbCxbXV0."><div id=":sm" class="a3s aiL msg4801456020138372995"><u></u> 
    <div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
        
        <span class="m_4801456020138372995mcnPreviewText" style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">Welcome To Blueboard!</span>
        
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_4801456020138372995bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
                <tbody><tr>
                    <td align="center" valign="top" id="m_4801456020138372995bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4801456020138372995templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
                                <td valign="top" id="m_4801456020138372995templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4801456020138372995templateHeader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:0px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                        <img align="center" alt="" src="https://ci3.googleusercontent.com/proxy/V_Px15Rwds8T0-f7tNc_AydePnCLSDwePXnSkYS8aEWIb43-LldvB9ZYhW1v68SmVlgfS62fJsbokD7EkArWG6JfC6oQ1BTFm3Ox8BOLun36WfegP4gAPKHZVdc-FLxl5kHPWLl3-7TMju74GsWBPAaRYx6dMA=s0-d-e1-ft#https://mcusercontent.com/7dc5232d31b1718a8cc97e522/images/b61bfb77-60a5-ac6a-fa50-9e61dac979b3.png" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_4801456020138372995mcnImage CToWUd" data-bit="iit">
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4801456020138372995mcnDividerBlock" style="min-width:100%;background-color:#ffffff;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:10px 18px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #ffffff;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4801456020138372995templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4801456020138372995mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4801456020138372995mcnTextContent" style="padding:0px 18px 9px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;word-break:break-word;color:#202020;font-size:16px;line-height:150%;text-align:left">
                        
                            <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"><span style="font-family:lato,helvetica neue,helvetica,arial,sans-serif">{{ COMPANY_NAME }} has invited you to join Blueboard!</span></h1>

<p style="font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;margin:10px 0;padding:0;color:#202020;font-size:16px;line-height:150%;text-align:left">Welcome to Blueboard! Our platform helps managers say “Thank You” to their top performers with rewards that people actually look forward to receiving.<br>
<br>
You can use Blueboard to send your team on their choice of a memorable experience like wine-tasting, rock-climbing, or even an indulgent spa day, all with just one click.<br>
<br>
Get started below by verifying your account. If you have any questions, contact <a href="mailto:support@blueboard.com" target="_blank">support@blueboard.com</a>.</p>

                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_4801456020138372995templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:50px;background-color:#f65673">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:25px">
                                <a class="m_4801456020138372995mcnButton" title="VERIFY MY ACCOUNT" style="font-weight:bold;letter-spacing:1px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block">VERIFY MY ACCOUNT</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_4801456020138372995mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody>
        <tr>
            <td style="min-width:100%;padding:10px 18px 25px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_4801456020138372995mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_4801456020138372995mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <div style="text-align:center">Blueboard is the first enterprise rewards and recognition platform powered by hand-curated experiences. From helping people connect with family and friends, to escaping the everyday, Blueboard employee rewards are the best way to inspire and care for your top people.<br>
<br>
<a href="https://goo.gl/maps/niftHcrcwL2297e68" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://goo.gl/maps/niftHcrcwL2297e68&amp;source=gmail&amp;ust=1689976769106000&amp;usg=AOvVaw3WCkLMm42acOXeVpgDAtpJ"><span style="color:#f65673">Blueboard, 9740 Scranton Rd. Suite 300, San Diego, CA&nbsp;92121</span></a></div>

                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
</div></div></div><div id=":sa" class="ii gt" style="display:none"><div id=":s9" class="a3s aiL "></div></div><div class="hi"></div></div>